/* Overall dashboard layout adjustments for a modern look */
.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar fixed at 250px, main content takes remaining space */
  height: 100vh; /* Full viewport height */
}
.dashboard-stock {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a modern font */
}

/* Sidebar styling for a lighter look */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(
    2,
    10,
    44,
    0.882
  ); /* Replaced var(--c-text-tertiary) with existing color */
  padding: 40px;
  grid-row: 2;
  width: 100%;
  border-right: #030303 2px solid; /* Add this line */
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.sidebar .sidebar-header h2 {
  color: white;
  font-size: 4vh;
}

.sidebar li {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.25s ease;
  padding: 15px 0;
  cursor: pointer;
  color: white;
  font-size: large;
}

.sidebar li * {
  transition: 0.25s ease;
}

.sidebar li i {
  margin-right: 0.75rem;
  font-size: 1.25em;
  flex-shrink: 0;
  color: inherit;
}

.sidebar li + li {
  margin-top: 0.5rem;
}

.sidebar li a {
  color: inherit; /* Make the link color the same as the parent li */
}

.sidebar li:hover,
.sidebar li:focus {
  transform: translateX(4px);
  color: black; /* Change the color of the li on hover/focus */
}

.sidebar li:hover a,
.sidebar li:focus a {
  color: black; /* Change the color of the link on hover/focus */
}

.menu li span {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.25s ease-in-out;
}

.menu li:hover span {
  max-width: 200px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 10, 44, 0.882);
  color: white;
  padding: 20px;
  grid-column: 1 / -1;
  border-bottom: 2px solid black; /* Add this line */
}

.top-nav h1,
.top-nav h2,
.top-nav .user-info {
  margin: 0;
}

/* Main content area adjustments */
.main-content {
  width: 100%;
  padding: 50px; /* Increased padding for better spacing */
  overflow-x: scroll; /* Hide horizontal scrollbar */
  position: relative;
  background: #f9f9f9; /* Lighter background color for better readability */
  grid-column: 2;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; /* Added margin to separate from content below */
  /* background: white; */
  grid-row: 2;
}

/* Section styling (Portfolio, News, Stocks) */
.portfolio,
.news,
.stocks {
  margin-top: 40px; /* Increased margin for better spacing */
}

.portfolio h2,
.news h2,
.stocks h2 {
  font-size: 1.5em; /* Increased font size for better visibility */
  margin-bottom: 20px; /* Increased spacing below headers */
}

/* Stock information box adjustments */
.stock-info {
  display: flex;
  gap: 3rem;
  padding: 2.5rem;
  background-color: #fff;
  /* from 2 4 */
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  border-radius: 10px;

  border: 2px ridge rgba(2, 10, 44, 0.882); /* Added border for better separation */
}

.stock-item {
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  padding: 0.5rem;
  border-radius: 12px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.stock-item:hover {
  background-color: #eaeaea; /* Subtle hover effect */
}

.portfolio {
  margin-bottom: 40px; /* Increased margin for better spacing */
}

.my-watchlist {
  flex-grow: 1;
}

/* Watchlist styling adjustments */
.watchlist {
  gap: 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px;
  border: 2px ridge rgba(2, 10, 44, 0.882); /* Added border for better separation */
}

.watch-info {
  /* width: 300px;  */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watch-item {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; Added margin for spacing between items */
  padding-bottom: 2rem;
  border-bottom: groove;
  padding-top: 3rem;
}

/* Text styling adjustments */
.watch-item p,
.stock-item p {
  font-size: 0.9em; /* Slightly smaller font size for non-header text */
  color: #666; /* Lighter text color for less contrast */
}

.stock-chart {
  padding: 20px;
  min-height: 35rem;
  flex-grow: 6;
  max-width: 50rem;
  background: white;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px ridge rgba(2, 10, 44, 0.882); /* Added border for better separation */

  h2 {
    margin-bottom: 5rem;
  }
}

#watchlist-chart-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stock-item-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #030303;
  h4 {
    text-align: right;
  }

  p {
    color: #7a7a7a;
  }
}

.company-image-container {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
}

.stock-change-info.stock-negative {
  p {
    color: #d34645 !important;
  }
}

.stock-change-info.stock-positive {
  p {
    color: #3da864 !important;
  }
}

.stock-positive {
  color: #3da864 !important;
}

.stock-negative {
  color: #d34645 !important;
}

.stock-change-info {
  display: flex;
  gap: 0.1rem;
}

.chart-heading-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
  border-bottom: groove;
  padding-bottom: 1rem;
  border-bottom-width: medium;
}

.chart-heading-image-title-container {
  display: flex;
  gap: 1rem;
}

.chart-image-container {
  display: flex;
  align-items: center;
}

.chart-title-sym-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chart-price-change-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#chart-change-container {
  border-radius: 1rem;
  padding: 6px;
  text-align: center;
  font-size: small;
  color: white !important;

  i {
    margin-left: 0.2rem;
  }
}

#chart-change-container.stock-positive {
  background: #3da864 !important;
}

#chart-change-container.stock-negative {
  background: #d34645 !important;
}

#chart-price-container {
  color: #030303;
  text-align: center;
  font-size: larger;
}

#watchlist-item-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.watchlist-stock-name-img-container {
  display: flex;
  gap: 10px;
}

.watchlist-image-container {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 50%;
}

.watchlist-name-symbol-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.watchlist-symbol {
  color: #212121;
  font-size: larger;
}

.watchlist-name {
  color: #848484;
  font-size: smaller;
}

.watchlist-price-change-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.watchlist-price {
  color: #212121;
  font-size: large;
}

.watchlist-change {
  /* color: #212121; */
  font-size: large;
}

.watchlist-change.negative {
  color: #d34645;
}

.watchlist-change.positive {
  color: #3da864;
}

.tradingview-widget-container {
  height: 40rem !important;
}

.stock-analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  flex-grow: 6;
  max-width: 25rem;
  background: white;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px ridge rgba(2, 10, 44, 0.882); /* Added border for better separation */
}
.analysis-form input[type='text'] {
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 200px;
}
.analysis-form {
  display: flex;
  flex-direction: row; /* Change this from column to row */
  justify-content: center;
  margin-bottom: 20px;
}
.analysis-form .submit-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.dropdown-content a {
  text-decoration: none;
}
.dashboard-stock .dropdown-content a:hover {
  text-decoration: underline;
  color: rgb(21, 21, 21);
  cursor: pointer;
}
/* dashboard.css */
.user-dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #1d1c1c;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.crypto {
  margin: 20px auto;
  padding: 20px;
}

/* For tablets */
@media (max-width: 768px) {
  .center {
    width: 90vw;
    height: 90vh;
  }

  .left {
    flex: 0 0 100px;
    width: 100px;
  }

  .right {
    padding: 20px;
  }

  .graph {
    width: 200px;
    height: 100px;
  }
}

/* For laptops */
@media (max-width: 1366px) {
  .center {
    width: 80vw;
    height: 80vh;
  }

  .left {
    flex: 0 0 150px; /* Adjusted width */
    width: 150px; /* Adjusted width */
  }

  .right {
    padding: 30px; /* Adjusted padding */
  }

  .graph {
    width: 250px; /* Adjusted width */
    height: 150px; /* Adjusted height */
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .center {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .left {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
  }

  .right {
    padding: 10px;
  }

  .graph {
    width: 100%;
    height: 100px;
  }
}
