:root {
    --primary-color: #333;
    --secondary-color: #f8f9fa;
    --font-family: 'Arial', sans-serif;
    --font-size: large;
}

body, html, nav {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
    font-size: var(--font-size);
}

.wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--secondary-color);
}

.logo-text {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.sign-in {
    padding: 0.5em 1em;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    width: auto;
}

.sign-in:hover {
    background: var(--primary-color);
    color: white;
}

.hero {
    display: inline-block;
    width: 50%;
    height: 100vh;
    position: fixed;
    left: 0;
    color: black;
    text-align: center;
    padding: 5em 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
    font-style: italic;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 250px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.cta {
    padding: 1em 2em;
    background: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.cta-button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-cta-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-cta-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}

.cta-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.port {
    width: 50%;
    top: auto;
    height: 100vh;
    display: inline-block;
    position: fixed;
    right: 0;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero {
        padding: 2em 0;
    }

    .hero h1 {
        font-size: 2rem;
    }
}